body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.container-box {
    margin-top: 100px;
    margin-bottom: 25px;
    background-color: white;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 20vw;
    height: 65vh;
    text-align: center;
    position: relative;
    left: 38.5%;
    padding: 2px 22px;
         
}

.img-qrcode {
    width: 100%;
    border-radius: 20px;
}

.titulo {
    font-size: 20px;
    font-weight: 700px;
    margin-top: -5px;
}

.sub-titulo {
    font-size: 15px;
    font-weight: 400px;
    color: hsl(220, 15%, 55%);
    margin-top: -20px;
    margin-bottom: -15px;
} 

@media (max-width: 450px) {
    .container-box {
        display: flex;
        width: 75vw;
        left: 5%;
    }
    
}